*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: white;
}
img:hover{
    cursor: pointer;
}
nav{
    margin: 20px;
}
nav ul{
    display: flex;
    flex-direction:row ;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
nav ul li{
    list-style-type: none;
    font-size: 20px;
}
img[alt="menu"]{
    width: 20px;
    display: none;
}
.home{
    padding: 5px 10px;
    background-color: rgb(100,100,224);
    border-radius: 15px;
}
.intro{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hi{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.mark{
    font-size: 60px;
}
.intro_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dev{
    color: #c5c559;
    font-size: 35px;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.imagetop{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.image_{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.project{
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 20px;
}
.projects{
    display: flex;
    justify-content: center;
}
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact{
    text-decoration: underline;
    text-decoration-color: blue;
    justify-content: center;
    padding-top: 30px;
}
.logo_image{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}
img[alt="hello"]{
    height: 45px;
}
img[alt="pc_image"]{
    width: 30vw;
}
img[alt="image"]{
    width: 20vw;
}
img[alt="logo"]{
    width: 30px;
}
@media screen and (max-width: 576px) {
    nav ul{
        display: none;
    }
    img[alt="menu"]{
        display: block;
    }
    .intro{
        display: flex;
        flex-direction: column;
    }
    .hi{
        display: flex;
        flex-direction: column;
    }
    .dev{
        display: flex;
        justify-content: center;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .imagetop{
        display: flex;
        flex-direction: column;
    }
    .image_{
        display: flex;
        flex-direction: column;
    }

}